In [79]:
#Import the necessary libraries for the operations
import pandas as pd
import numpy as np

In [80]:
#Import the dataset using the pandas library into a dataframe
df = pd.read_csv('/content/drive/MyDrive/Datasets/Email (Spam) Classification Dataset/emails.csv')
df

,Email No.,the,to,ect,and,for,of,a,you,hou,...,connevey,jay,valued,lay,infrastructure,military,allowing,ff,dry,Prediction
0,Email 1,0,0,1,0,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Email 2,8,13,24,6,6,2,102,1,27,...,0,0,0,0,0,0,0,1,0,0
2,Email 3,0,0,1,0,0,0,8,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Email 4,0,5,22,0,5,1,51,2,10,...,0,0,0,0,0,0,0,0,0,0
4,Email 5,7,6,17,1,5,2,57,0,9,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5167,Email 5168,2,2,2,3,0,0,32,0,0,...,0,0,0,0,0,0,0,0,0,0
5168,Email 5169,35,27,11,2,6,5,151,4,3,...,0,0,0,0,0,0,0,1,0,0
5169,Email 5170,0,0,1,1,0,0,11,0,0,...,0,0,0,0,0,0,0,0,0,1
5170,Email 5171,2,7,1,0,2,1,28,2,0,...,0,0,0,0,0,0,0,1,0,1
5171,Email 5172,22,24,5,1,6,5,148,8,2,...,0,0,0,0,0,0,0,0,0,0

In [81]:
#Retrieve the data by parsing through the array
X = df.iloc[:, 1:3001]
X.shape

(5172, 3000)

In [82]:
#Retrieve the label from the dataset
y = df.iloc[:, -1]
y.shape

(5172,)

In [83]:
y

0       0
1       0
2       0
3       0
4       0
       ..
5167    0
5168    0
5169    1
5170    1
5171    0
Name: Prediction, Length: 5172, dtype: int64

In [84]:
#Split the dataset into train and test using the train_test_split. At first we are going to use Naive Bayes algorithm along
#Using MultinomialNB algorithm.
from sklearn.naive_bayes import MultinomialNB
from sklearn.model_selection import train_test_split

X_train,  X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [85]:
X_train

,the,to,ect,and,for,of,a,you,hou,in,...,enhancements,connevey,jay,valued,lay,infrastructure,military,allowing,ff,dry
3164,6,4,2,1,2,8,39,5,2,5,...,0,0,0,0,0,0,0,0,1,0
2067,0,0,1,0,1,0,3,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4717,40,28,4,21,12,12,260,24,4,78,...,0,0,0,0,0,0,0,0,3,0
2505,5,1,1,0,1,1,12,0,0,3,...,0,0,0,0,0,0,0,0,0,0
2268,6,6,3,1,1,0,64,0,1,7,...,0,0,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4426,0,3,2,0,2,0,16,0,0,1,...,0,0,0,0,0,0,0,0,0,0
466,4,5,1,0,5,1,28,1,0,1,...,0,0,0,0,0,0,0,0,0,0
3092,0,0,1,0,1,0,5,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3772,2,11,1,6,4,5,58,10,0,12,...,0,0,0,0,0,0,0,0,3,0
860,3,0,1,1,0,1,11,0,0,2,...,0,0,0,0,0,0,0,0,0,0

In [86]:
y_train

3164    1
2067    0
4717    0
2505    0
2268    0
       ..
4426    0
466     0
3092    0
3772    1
860     1
Name: Prediction, Length: 4137, dtype: int64

In [87]:
X_test

,the,to,ect,and,for,of,a,you,hou,in,...,enhancements,connevey,jay,valued,lay,infrastructure,military,allowing,ff,dry
1566,1,1,1,0,1,0,5,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1988,13,20,66,8,10,0,195,4,33,16,...,0,0,0,0,0,0,0,0,0,0
1235,1,14,3,6,2,2,238,0,0,41,...,0,0,1,0,1,0,0,0,5,0
3276,0,0,1,0,1,0,4,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3438,11,6,2,1,5,6,93,3,1,22,...,0,0,0,0,0,0,0,0,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1175,5,3,3,2,3,2,22,1,0,1,...,0,0,0,0,0,0,0,0,0,0
2594,36,25,11,9,9,16,179,4,7,46,...,0,0,0,0,0,0,0,0,3,0
3377,0,0,1,0,1,0,5,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5065,0,1,1,1,0,0,8,1,0,4,...,0,0,0,0,1,0,0,0,0,0
2142,31,18,26,6,18,2,162,6,16,23,...,0,0,0,0,0,0,0,0,0,0

In [88]:
nbclf = MultinomialNB()
nbclf.fit(X_train, y_train)

MultinomialNB()

In [89]:
results = nbclf.predict(X_test)

In [90]:
#We are using the accuracy_score class from sklearn.metrics to evaluate the accuracy of the model
from sklearn.metrics import accuracy_score
accuracy_score(results, y_test)

0.9545893719806763

In [91]:
#We will predict for a new email, which is a spam
new_email = "Hi You have won a new iphone. Please deposit 100$ and collect your iphone X"

In [92]:
sample = []
for i in X.columns:
  sample.append(new_email.split(" ").count(i))

In [93]:
sample = np.array(sample)

In [94]:
sample.shape

(3000,)

In [95]:
sample = sample.reshape(1, 3000)

In [96]:
#We have received the output of array[1] indicating it is a spam
single_email = nbclf.predict(sample)
single_email

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but MultinomialNB was fitted with feature names
  warnings.warn(

array([1])

In [97]:
#We will attempt the Logistic regression for the same dataset
from sklearn.linear_model import LogisticRegression
lrclf = LogisticRegression()

In [98]:
#We are splitting the data into train and test datasets with 33% as the test data and training the Logistic Regression model with this dataset
X_train_66, X_test_66, y_train_66, y_test_66 = train_test_split(X, y, test_size=0.33, random_state=1) 
lrclf.fit(X_train_66, y_train_66)

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [99]:
#We are testing the dataset with the test data
resultslr = lrclf.predict(X_test_66)

In [100]:
#The accuracy score is slightly better using the Logistic Regression model
accuracy_score(resultslr, y_test_66)

0.9630931458699473